<div class="category">
  <div class="row">
    <div
      class="col-md-4"
      *ngFor="let i of products | paginate: { itemsPerPage: 6, currentPage: p }"
    >
      <div class="products">
        <a routerLink="/sanpham/{{ i.slug }}">
          <img src="/assets/images/Iphone11.jpg" class="img-fluid" />
          <h3>{{ i.name }}</h3>
          <p>
            Giá <span class="price">{{ i.price | number }}</span> vnđ
          </p>
        </a>
        <button
          class="btn btn-primary"
          (click)="addToCart(i.id, i.name, i.slug, 1, i.price)"
        >
          <i class="fa fa-shopping-cart"></i>
          Thêm vào giỏ
        </button>
      </div>
    </div>
  </div>
  <pagination-controls
    *ngIf="products != ''"
    (pageChange)="p = $event"
  ></pagination-controls>
</div>
