.nav__main{
    background-color: gray;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.nav__main ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__main ul li{
    display: inline-block;    
}

.nav__main ul li a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    color: white;
    font-size: 13px;
}

.nav__main ul li a:hover{
    color: yellow;
}