<h1>Giỏ hàng</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sản Phẩm</th>
      <th>Số Lượng</th>
      <th>Đơn Giá (VNĐ)</th>
      <th colspan="2">Thành Tiền (VNĐ)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of products">
      <td>{{ i.name }}</td>
      <td>
        <input
          style="width: 100px"
          type="number"
          value="{{ i.qty }}"
          #qty
          (change)="updatePrice(i.id, i.name, i.slug, i.price, qty.value)"
        />
      </td>
      <td>{{ i.price | number }}</td>
      <td>{{ i.qty * i.price | number }}</td>
      <td>
        <button (click)="deleteCart(i.id)" class="btn btn-danger" type="button">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr style="font-size: 20px; font-weight: bold">
      <td colspan="3" class="text-end">Tổng Tiền (VNĐ)</td>
      <td class="text-danger" colspan="2">1</td>
    </tr>
  </tbody>
</table>

<a routerLink="/" class="btn btn-info me-1">Mua Thêm</a>
<button class="btn btn-warning">Thanh Toán</button>
