<!-- {{ title }}

<div *ngIf="title == 'angular'; else abc">
  <h3>Title Angular</h3>
</div>

<ng-template #abc>
  <h3>Không phải Title Angular</h3>
</ng-template>

<div [ngSwitch]="color">
  <h3 *ngSwitchCase="'red'" style="color: red">Red</h3>
  <h3 *ngSwitchCase="'green'" style="color: green">Green</h3>
  <h3 *ngSwitchCase="'blue'" style="color: blue">Blue</h3>
</div>

<ul>
  <li *ngFor="let i of array">
    {{ i }}
  </li>
</ul>

<p [style.color]="mausac">Màu sắc</p>

<div [innerHtml]="html"></div> -->

<app-header [cha]="title"></app-header>
<app-nav></app-nav>
<app-main></app-main>
<app-footer (callParent)="sendingChild($event)"></app-footer>
<app-chat></app-chat>
