<div class="product">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/Iphone11.jpg" class="img-fluid" />
    </div>
    <div class="col-md-6">
      <h1>{{ name }}</h1>
      <div class="star">
        <ul>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
      </div>
      <p class="description">
        Apple {{ name }} mang màn hình lớn, camera chất lượng, pin trâu với
        nhiều màu sắc chắc chắn là một model đáng mua nhất năm nay.
      </p>
      <div class="info">
        <h4>THÔNG SỐ KỸ THUẬT</h4>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Màn hình:</td>
              <td>6.1" Liquid Retina LCD</td>
            </tr>
            <tr>
              <td>Camera trước:</td>
              <td>12 MP</td>
            </tr>
            <tr>
              <td>Camera sau:</td>
              <td>12 MP + 12 MP</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="input-group mb-3">
        <input type="number" class="form-control" value="1" />
        <button class="btn btn-success" type="button">
          <i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng
        </button>
        <button class="btn btn-warning" type="button">Mua ngay</button>
      </div>
    </div>
  </div>

  <div class="relative__products">
    <h4>Sản phẩm liên quan <a routerLink="">(Xem thêm)</a></h4>
    <div class="row">
      <div class="col-md-4" *ngFor="let i of products">
        <div class="products">
          <a routerLink="/sanpham/{{ i.slug }}">
            <img src="/assets/images/Iphone11.jpg" class="img-fluid" />
            <h3>{{ i.name }}</h3>
            <p>
              Giá <span class="price">{{ i.price | number }}</span> vnđ
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="content" *ngIf="content != null">
    <h5 class="text-center">Đặt điểm nổi bật</h5>
    <div class="main" [innerHTML]="content"></div>
  </div>
</div>
