aside{
    background: red;
    text-transform: uppercase;
    padding: 20px;
}
aside h3{
    font-size: 16px;
    text-align: center;
    color: yellow;
    margin-bottom: 20px;
}
aside ul{
    padding-left: 15px;
}
aside ul li a{
    color: black;
    text-decoration: none;
}
aside ul li a:hover{
    color: orange;
}