aside{
    background: red;
    height: 300px;
    text-transform: uppercase;
    padding: 20px;
}
aside h3{
    font-size: 16px;
    text-align: center;
    color: yellow;
    margin-bottom: 20px;
}
aside ul li a{
    color: white;
}
aside ul li a:hover{
    color: orange;
}